<div class="d-flex flex-wrap p-3">

  <nav class="col-md-2 col-12" role="navigation">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item text-truncate" *ngFor="let item of navigations">
          <a class="nav-link" routerLinkActive="true" href="#" [routerLink]="item.routerLink">
            <span class="display-text">{{ item.title }}</span>
          </a>
        </li>

      </ul>
    </div>

  </nav>

  <div class="col-md-10 col-12">
    <router-outlet></router-outlet>
  </div>


</div>
